<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Restaurace4FIS</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://iszkkkm92jt86z36iqrkogh4wrebsjsp.lubosjansky.com/min.css">
    <link rel="stylesheet" href="{$basePath}/css/main.css">
    <link rel="icon" href="{$basePath}/img/icon.webp" sizes="32x32">
</head>
<body>

<header>

    <nav id="sidenav" class="sidenav" data-mdb-hidden="false" data-mdb-scroll-container="#sidenav-scroll-container"
         data-mdb-mode="side" data-mdb-accordion="true">

        <a n:href="Homepage:" class="d-none d-xl-flex justify-content-center py-2 px-3">
            <img src="{$basePath}/img/logo.svg" alt="Logo Restaurace" draggable="false" class="restaurant-logo">
        </a>

        <ul id="sidenav-scroll-container" class="sidenav-menu px-3 px-lg-4 pt-3 pb-2 py-xl-0">
            <span class="d-flex justify-content-center badge badge-grey badge-pill text-uppercase mb-2">Restaurace</span>
            <li class="sidenav-item">
                <a n:href="Homepage:" class="sidenav-link {$urlParams[0] === "" ? "custom-color-blue-text" : ""}">
                    <i class="fas fa-home me-3 fa-fw"></i>Domů
                </a>
            </li>

        </ul>

    </nav>

    <nav id="main-navbar" class="navbar navbar-light fixed-top navbar-expand-lg scrolling-navbar">
        <div class="container-fluid">

            <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav" class="navbar-toggler" aria-controls="#sidenav"
                    aria-haspopup="true">
                <i class="fas fa-bars"></i>
            </button>

            <span></span>

            <ul class="navbar-nav nav-flex-icons ml-auto me-xl-2">
                <li class="nav-item">
                    <a n:href="Homepage:default">
                        <button type="button" class="btn btn-light border border-warning rounded ripple px-3">
                            <i class="fas fa-arrow-right-to-bracket me-2"></i>Přihlásit se
                        </button>
                    </a>
                </li>
            </ul>

        </div>

    </nav>

</header>

<main class="mt-4 mt-xl-5 pt-5 mb-0 mb-sm-4 mb-xl-5 pb-sm-5 mx-xl-4 mx-xxl-5">
    {block content}{/block}
</main>

<footer class="page-footer fixed-bottom text-center font-small custom-color-blue d-none d-sm-block">

    <div class="footer-copyright py-3">
        <span class="me-3">©&nbsp;2023 Restaurace4FIS</span>
    </div>

</footer>

<!-- Scripts for all pages here -->
<script src="https://iszkkkm92jt86z36iqrkogh4wrebsjsp.lubosjansky.com/min.js"></script>
<script src="{$basePath}/js/global/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" crossorigin="anonymous"></script>
</body>
</html>