
      
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .back-button {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 16px;
            background-color: #007bff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            border: none;
            transition: background-color 0.3s, color 0.3s;
        }

        .back-button:hover {
            background-color: #0056b3;
        }

        .payment-form {
            margin-top: 50px;
        }

        .form-field {
            margin-bottom: 20px;
        }

        .form-field label {
            display: block;
            font-weight: bold;
        }

        .form-field input[type="text"],
        .form-field input[type="number"],
        .form-field select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-field input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-field input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .error-message {
            color: red;
            display: none;
        }
        .error {
            border: 1px solid red;
        }
    