input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button{
    background-color: #338dc9;
    border: none;
    color: white;
    padding: 12px 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

.error{
    background-color: #c92727;
    border: none;
    color: white;
    padding: 4px 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.success{
    background-color: #27c958;
    border: none;
    color: white;
    padding: 4px 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.users{
    border: 1px solid;
    color: black;
    padding: 4px 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}