body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

pre {
  white-space: pre-line;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.navigation-item {
  text-decoration: none;
  color: dodgerblue;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.navbar-gap {
  gap: 8px;
}