application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'pgsql:host=localhost;port=5432;dbname=restaurant'
	user: 'postgres'
	password: 'postgres'