* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

.title {
    font-family: sans-serif;
    font-size: 24px;
}

.contacts {

    font-family: Calibri;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.contacts-back {
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    font-family: Calibri;
    font-size: 16px;
    margin: 15px 15px;
}

.bc-back {
   
    margin: 20px 0;
    width: 420px;
    max-width: 420px;
    height: 154px;
    
    background-color: skyblue;
}

.bc-front {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 20px;
    background-color: skyblue;


}

.bc-small-icon {
    max-width: 25px;
    max-height: 25px;
    justify-self: center;
    overflow: hidden;
    margin: 6px 18px 0 85px;
}

.icon {
    max-width: 150px;
    justify-self: center;
    overflow: hidden;
}

.container {
    max-width: 480px;
    width: 100%;
    margin: 30px auto;
    padding: 0 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1000;
    max-width: 420px;
  
}
.line{
    display: block;
    height: 2px;
    background-color: lightgreen;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;

}
.back-title{
    margin-top: 10px;
    margin-right: 125px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    
}
h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: rgb(78, 29, 28);
}

.bc-name,
.bc-phone,
.bc-adress,
.bc-title,
.bc-company {
    margin-top: 7px;

}
.bc-age{
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
}
.bc-name,
.bc-company {

    font-weight: 600;
}

.bc-email,
.bc-website,
.bc-isWorking {
    margin-top: 7px;
}
.bc-isWorking{
    justify-content: center;
    margin: 0 auto;
    display: flex;
}