# lxsx config
AUTHOR=author

# DB
DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_PASSWORD=pass
DB_DEFAULT_DB=db

# REDIS
REDIS_URL="redis://localhost:6379"
REDIS_HOST=localhost
REDIS_PORT=6379

# LOGIN TIMEOUT MIN
LOGIN_TIMEOUT=30

# DOMAIN
DOMAIN="example.domain.tld"

# E-MAIL ADDRESSES
EMAIL_DEF="info@domain.tld"
EMAIL_FROM="noreply@domain.tld"
EMAIL_ADMIN="admin@domain.tld"

# CACHE
CACHE_ENABLED=1

# MAXIMUM LISTED USERS
MAX_USERS_LIST=50

# MAXIMUM LISTED REGISTRATIONS
MAX_REGISTRATIONS_LIST=100

# IPGEOLOCATION
IPGEO_API_KEY=abcd

# GOOGLE RECAPTCHA
GRECAPTCHA_SITEKEY=def
GRECAPTCHA_KEY=ghi

# SKMILE OAUTH2
SKMILE_CLIENT_ID=id
SKMILE_CLIENT_SECRET=secret
SKMILE_CALLBACK_URL=oauth2callback

# GOOGLE OAUTH2
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_CALLBACK_URL=oauth2callback

# GITHUB OAUTH2
GITHUB_CLIENT_ID=id
GITHUB_CLIENT_SECRET=secret
GITHUB_CALLBACK_URL=oauth2callback