.property-details-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.property-details,
.property-images {
    margin-top: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.image-wrapper {
    width: 100%;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}