.wrapper {
  display: flex;
  width: 100%;
}

.navbar.navbar-expand-lg{
  position: fixed;
  z-index: 1001;
  width: 100%; 
} 

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  padding-top: 60px;
}

#content {
  flex-grow: 1;
  padding-top: 55px; /* equal to navbar height */
  padding-left: 250px; /* equal to sidebar width */
  text-align: center;
  background-color: #ffffff;

}
div.MainPage{
  position: absolute;
  top: 20%;
  left: 50%;
  color: white;
  font-size: 50px;
}
img.MainPage{
  object-fit: cover;
}
div.MainPageText {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  text-align: center;
}
.circle-container {
  display: flex;
  justify-content: center;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #e0b67f;
  margin: 100px;
}

.sub-circles {
  display: flex;
  justify-content: center;

}

.sub-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #e0b67f;
}

.circle h3 {
  margin-top: 60px;
}

.circle p {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.sub-circle h4 {
  margin-top: 20px;
  font-size: 20px;
}
.sub-circle p {
  margin-top: -10px;
  text-align: center;
  font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.5em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}