<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="./css/style_registration.css">
</head>
<body>
    <div class="login-form">
        {form loginForm}
            <h1>Login</h1>
            <div class="content">
                <div class="input-field">
    {*              <input type="username" placeholder="Email" autocomplete="nope"> *}
                    {input username, placeholder => "Username"}
                </div>
                <div class="input-field">
                    {* <input type="password" placeholder="Password" autocomplete="new-password"> *}
                    {input password, placeholder => "Password"}
                </div>
                <a href="#" class="link">Need to sign up?</a>
            </div>
            <div class="action">
                 {input submit, class => 'btn'}
            </div>
            <div class="leave">
                <a n:href="Home:default" class="link">Return to main page</a>
            </div>
        {/form}
    </div> 

</body>
</html>