<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="./css/style_registration.css">
  </head>
  <body>
    <div class="login-form">
      <form>
        <h1>Register</h1>
        <div class="content">
          <div class="input-field">
            <input type="Username" placeholder="Username" autocomplete="nope">
          </div>
          <div class="input-field">
            <input type="email" placeholder="Email" autocomplete="nope">
          </div>
          <div class="input-field">
            <input type="password" placeholder="Password" autocomplete="new-password">
          </div>
          <a href="#" class="link">Already registred?</a>
        </div>
        <div class="action">
          <button>Register</button>
        </div>
        <div class="leave">
            <a n:href="Home:default" class="link">Return to main page</a>
        </div>
      </form>
    </div>
  </body>
</html>