.visit {
    padding-top: 150px;
    &__box {
        border: 1px solid $maingreen;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            color: $maingreen;
        }
        div {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em;
            span {
                padding-bottom: 1em;
            }
            label {
                min-width: 100%;
                span {
                    display: block;
                    min-width: 100%;
                    text-align: center;
                    padding: 1em 1.5em;
                }
                input {
                    display: none;
                    &:checked + span {
                        background-color: $maingreen;
                        color: white;
                    }
                }
            }
        }
        button {
            all: unset;
            box-sizing: border-box;
            cursor: pointer;
            width: 100%;
            background-color: $maingreen;
            padding: 1em 1.5em;
            text-align: center;
            color: white;
            margin-top: 2em;
            &:disabled {
                filter: saturate(0);
                cursor: default;
            }
        }

        table {
            min-width: 100%;
            padding: 25px 5%;
            * {
                border: none;
            }
            th, td {
                padding: 15px;
                text-align: center;
                a {
                    font-weight: 600;
                    font-size: 1.5em;
                    cursor: pointer;
                    user-select: none;
                }
            }
            tr:nth-child(even){
                background-color: $lightgreen;
            }
        } 
        form {
            width: 100%;
            label, input {
                width: 100%;
                padding: 5px;
            }
            .err {
                color: red;
            }
        }
    }
}